.header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #d3d1d1;
}

.header__title, .footer__title {
    font-size: 24px;
    line-height: 30px;
}

.main {
    display: flex;
    height: calc(100vh - 100px);
}

.icon {
    width: 16px;
    height: 16px;
}